@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Coiny;
    
}

:root {
    --text-color: rgb(251,94,63);
    --background-color : #222f3e;
}
body { 
    background: rgb(251,94,63);
    background: -moz-linear-gradient(90deg, rgba(251,94,63,1) 0%, rgba(252,173,70,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(251,94,63,1) 0%, rgba(252,173,70,1) 100%);
    background: linear-gradient(90deg, rgba(251,94,63,1) 0%, rgba(252,173,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb5e3f",endColorstr="#fcad46",GradientType=1);
}

.navbar {
    overflow: hidden;
    background-color: #222f3e;
    /* position: fixed;
    top: 0;
    width: 100%; */
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(252,173,70,1)
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

#logo {
    margin-top: 25px;
    display: block;
    object-fit: cover;
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 15s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
}
.box_container {
    width: 300px;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 12px;
    margin: 25px 30px;
    text-align: center;
    overflow: hidden;
}
.box_container_dacbiet {
    width: 300px;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 12px;
    margin: 25px 35px;
    text-align: center;
    overflow: hidden;
}


.box_image {
    width: 150px;
    height : 150px;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(15px);
    transition: 0.25s;


}
img { 
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}


h2 {
    color: white;
    text-align: center;
    margin-top: 35px;
    font-size: 1.25em;

}

.button > a  {
    color: white;
    text-decoration: none;
    border: 3px solid var(--text-color);
    border-radius: 12px;
    padding: 15px 20px;
    transition: 0.25s;
}

.button {
    margin: 20px;
}

.box_image:hover {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 0;
    transform: none;

}
.button> a:hover {
    background-color:var(--text-color);
}

.hang1 , .hang_dacbiet{
    display: flex;
}
@media(max-width:1050px) {
    .hang1 {
        display: flex;
        flex-wrap: wrap;
    }
    .box_container {
        flex: 33%;
        margin: 25px 35px;
    }
    .box_container_dacbiet{
        width: 314px;
        height: 300px;
    }
}
@media(max-width:450px) {
    .hang1 {
        display: block;
    }
    .box_container {
        margin: 20px auto ;
    }
}


